.App {
  text-align: center;
  max-width: 500px;
}

body {
  background: linear-gradient(
    103.3deg,
    rgb(190, 11, 215) -18.7%,
    rgb(246, 234, 11) 90.9%
  );
  background-repeat: no-repeat;
}

h1,
li,
p {
  text-align: center;
}

form {
  margin: 0 auto;
  display: block;
  text-align: center;
}

ul {
  list-style-type: none;
}

.card {
  background-color: #ffe9e3;
}
